/*started Header*/
.head {
	width: 100%;
	padding: 25px;
	background: #F6F8F9;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
}
.li-1 {
	display: inline-block;
	color: #343638;
	font-size: 11px;
}
.li-2 {
	display: inline-block;
	margin: 19px 22px 19px 27px;
	font-size: 11px;
	color: #343638;
}
.li-3 {
	display: inline-block;
	color: #343638;
	font-size: 11px;
}
.li-4 {
	display: inline-block;
	color: #343638;
	font-size: 11px;
	margin: 20px 40px 18px 22px;
}
.li-5 {
	display: inline-block;
	color: #343638;
	font-size: 11px;
	margin: 11px;
}
.header-logo {
	display: inline-block;
	margin: 18px 92px 17px 20px;
	font-size: 13px;
	color: #FA6980;
}
.nav1 {
	display: inline-block;
}

/*started first section*/
.section1 {
 	width: 1160px;
 	height: 410px;
 	margin: 135px auto 0 auto;
}
.section1-h {
	font-size: 24px;
	color: #202124;
	margin-bottom: 40px;
}
.s1-box1 {
	display: inline-block;
	width: 360px;
	height: 350px;
}
.s1-box2 {
	display: inline-block;
	width: 360px;
	height: 350px;
	margin: 0 40px;
}
.s1-box3 {
	display: inline-block;
	width: 360px;
	height: 350px;
}
.image-wriper1 {
	position: relative;
}
.img1 {
	position: absolute;
	top: 32px;
	left: 40px;
	font-size: 16px;
	color: #FFF;
	z-index: 1;
}
.image-wriper2 {
	position: relative;
}
.img2 {
	position: absolute;
	top: 32px;
	left: 40px;
	font-size: 16px;
	color: #FFF;
	z-index: 1;
}
.image-wriper3 {
	position: relative;
}
.img3 {
	position: absolute;
	top: 32px;
	left: 40px;
	font-size: 16px;
	color: #FFF;
	z-index: 1;
}
.text-box1 {
	vertical-align: middle;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	color: #A6ADB4;
}
.text-box2 {
	vertical-align: middle;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	color: #A6ADB4;
}
.text-box3 {
	vertical-align: middle;
	margin-top: 70px;
	margin-bottom: 10px;
	text-align: center;
	color: #A6ADB4;
}

/*started section two*/
.section2 {
	width: 1160px;
	height: 960Px;
	margin: 58px auto;
}
.image-box {
	position: relative;
	width: 760px;
	height: 430px;
	margin-bottom: 40px;
}
.text-div1 {
	position: absolute;
	font-size: 16px;
	top: 194px;
	left: 308px;
	color: #FFF;
	z-index: 1;
}
.section1-h2 {
	font-size: 24px;
	color: #202124;
	margin-bottom: 40px;
}
.s2-div1 {
	display: inline-block;
	width: 760px;
	height: 890px;
}
.s2-general1 {
	display: inline-block;
}
.s2-general2 {
	display: inline-block;
	width: 360px;
	height: 890px;
	margin-left: 40px;
}
.imagediv1 {
	display: inline-block;
	margin-bottom: 102px;
}
.imagediv2 {
	display: inline-block;
	margin-bottom: 102px;
}
.imagediv3 {
	display: inline-block;
    padding-bottom: 60px;
}